[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
autopep8 = "*"
flake8 = "*"
tensorflow = "==2.3.0"
fastapi = "==0.54.1"
uvicorn = "==0.11.5"
jinja2 = "==2.11.2"
opencv-python = "==4.2.0.34"
python-multipart = "==0.0.5"
mypy = "*"

[requires]
python_version = "3.7"

[scripts]
create = "python model_creator.py"
type-check = "mypy ./app --config-file ./mypy.ini"
build = "docker build -f ./Dockerfile -t ml-api-fastapi:0.0.1 ."
start = "docker run -d --name ml-server -p 8000:8000 ml-api-fastapi:0.0.1"